
{{#if user}}
<a href="/logout">Logout</a>
<a href="/profile">Profile</a>
<h2>hellaaaa {{{user.name}}}</h2>

<br>
<form action="/" method="POST">
  <div class="form-group">
    <label for="questionBank">What is your question?</label>
    <input id="questionBank" class="form-control" type="text" name="question">
    <button>Submit</button>
  </div>



</form>

  <h2>Questions Feed</h2>
  <ul>
    {{!-- {{allQn}} --}}
    {{#each allQn as |Qn|}}
      <li>


      <h4>{{Qn.question}}<br></h4>
        <form class="" action="index.html" method="post">
          <label>
            {{!-- {{Qn}} --}}
            <h6>{{Qn.date}}</h6>
             <h6>By: {{Qn.user.name}}</h6>
            <h6>Total Answers: {{Qn.answer.length}}</h6>
            <a href="/answer/{{Qn._id}}">Answer</a>
          </label>
        </form>
        <br>

        </li>

    {{/each}}
  </ul>


{{/if}}

{{#unless user}}
<h2>Welcome!</h2>
<a href="/register">Signup</a>
<a index ='login' href="/login">Login</a>
{{/unless}}



{{!-- <a href="/register">Signup</a>
<a index ='login' href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/profile">Profile</a> --}}
